.cafe {
  width: 290px;
  border: 3px solid #555;
  margin: 5px;

}

.photo {
  width: 100%;
  height: 290px;
  object-fit: cover;
  
}

.content {
  padding: 10px;
  text-align: center;
}

.cafe-layout {
 
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}